*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    padding: 48px 0;
}

img{
    max-width: 100%;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

header h1{
    color: red;
    text-align: center;
    margin: 30px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px 0;
}
.paragrafo{
    margin: 20px;
}
.col{
    width: 250px;
    float: left;
    margin-right: 5%;
    margin-bottom: 10%;
    background-color:black;
}

.info{
    float: left;   
    margin: 5px 5px 5px 5px;
}

.card{
    margin-right: 5%;
    margin-bottom: 20px;
    width: 300px;
}

.card img{
    float: left;
    height: 70px;
}
.card-name{
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.card-job{
    font-size: 14px;
    color: white;
}
.card-contact{
    font-size: 14px;
    color: cornflowerblue;
}
